<h1>Editing Purchase (by manager employee)</h1>

<%= render 'shared/purchase/form', record: @record, url: purchase_path(@record)%>

<br />

<div class='text-center'>
  <%= link_to 'Show', @record, class: 'btn btn-info' %> |
  <%= link_to 'Back', purchases_path, class: 'btn btn-info' %>
</div>
